p, h1, h4 {
	font-family: 'Press Start 2P', cursive; 
}

h1{
	font-size: 2.3vw;
}

p{
	font-size: 1.1vw;
	word-spacing: -0.5vw;
}

h4{
	font-size: 1.2vw;
}


section{
	padding-top: 5%;
	padding-bottom: 5%;
}

/* GRID */

.grid{
	display: grid;
	grid-template-columns: 5% 20% 20% 20% 20% 5%;
	grid-template-rows: 1fr 5fr 5fr;
	grid-gap: 2%;
}

/* HEADER */
.header{
	grid-column: 2 / span 4;
	grid-row: 1 / span 1;
}

.header-grid{
	
	display: grid;
	grid-template-columns: 50% 30% 20%;
	align-items: center;
}

.header-logo{
	width: 100%;
	grid-column: 1 / span 1;
}

.icons{
	grid-column: 3 / span 1;
	justify-self: end;
	text-align: right;
}

.icons img{
	width: 15%;
	margin-left: 5%;
}



/* BIO */

.bio{
	grid-row: 2 / span 1;
	grid-column: 2 / span 4;
	background-color: #6FB5BF;
	color: white;
	
}

.bio-grid{
	display: grid;
	grid-template-columns: 4% 58% 34% 4%;;
	align-items: center;
	justify-items: center;

}

.bio-txt{
	grid-column: 2 / span 1;
	line-height: 150%;
}

.bio-img{
	grid-column: 3 / span 1;
	width: 60%;
	border-radius: 50%;
	border: 5px solid white;
}
/* SKILLS */

.skills{
	grid-row: 3 / span 1;
	grid-column: 2 / span 1;
	background-color: #F8C671;
	color: white;
}

.skills-title{
	margin-left: 30%;
}

.skills-txt{
	margin-left: 14%;
}


/*PORTFOLIO */

.portfolio {
	grid-row: 3 / span 1;
	grid-column: 3 / span 3;
	background-color: #EE6F66;
	color: white;
}

.portfolio-title{
	margin-left: 10%;
}

.portfolio-grid{
	display:grid;
	grid-template-columns: 10% 35% 10% 35% 10%;
}

.portfolio img{
	width:90%;
	margin-left: 5%;
	margin-top: 5%;
}

.portfolio p{
	width: 90%;
	margin-left: 5%;
}
.portfolio-huarpes{
	grid-column: 2 / span 1;
	border: 4px solid white;

}

.portfolio-batalla{
	grid-column: 4 / span 1;
	border: 4px solid white;
}

/* FOOTER */
footer{
	margin-top: 3%;
}

footer p{
	text-align: center;
}

footer p{
	font-size: 0.7vw;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

@media only screen and (max-width: 768px){
	h1{
		font-size: 4.4vw;
	}

	p{
		font-size: 3.1vw;
		word-spacing: -0.5vw;
	}

	h4{
		font-size: 3.2vw;
	}
	.grid{
		display: grid;
		grid-template-rows: 1fr 3fr 5fr 2fr;
		grid-gap: 0%;
	}
	
	section{
		margin-bottom: 2%;
	}
	/*HEADER SMALL */

	.header{
		width: 100%;
		grid-column: 2 / span 4;
		grid-row: 1 / span 1;
	}

	.header-grid{
		
		display: grid;
		grid-template-rows: 1fr 1fr;
		align-items: start;
	}

	.header-logo{
		width: 100%;
		grid-row: 1 / span 1;
		grid-column: 1 / span 3;
	}

	.icons{
		grid-row: 2 / span 1;
		grid-column: 1 / span 1;
		text-align: left;
	}

	.icons img{
		margin-left: 0%;
		margin-right: 3%;
		width:10%;
	}

	/* BIO SMALL */

	.bio-txt{
		grid-column: 2 / span 2;
		line-height: 150%;
	}

	.bio-img{
		display: none;
	}

	/* PORTFOLIO SMALL */

	.portfolio {
		grid-row: 3 / span 1;
		grid-column: 2 / span 4;
	}

	.portfolio-grid{
		display:grid;
		grid-template-columns: 10% 35% 10% 35% 10%;
		grid-template-rows: 1fr 1fr;
	}

	.portfolio-huarpes{
		grid-column: 2 / span 3;
		grid-row: 1 / span 1;

	}

	.portfolio-batalla{
		grid-column: 2 / span 3;
		grid-row: 2 / span 1;
		margin-top: 5%;
	}

	/* SKILLS SMALL */

	.skills{
		grid-row: 4 / span 1;
		grid-column: 2 / span 4;	}

	.skills-title{
		margin-left: 10%;
	}

	.skills-txt{
		margin-left: 14%;
	}

	/* FOOTER */

	footer{
		margin-top: 8%;
	}

	footer p{
		font-size: 2vw;
	}	

}