h1, h4 {
	font-family: 'Ultra', serif;
}

h1{
	font-size: 3vw;
}

p{
	font-size: 1.1vw;
	/*word-spacing: -0.5vw;*/
	text-align: center;
	font-family: 'Arvo', serif;
}

h4{
	font-size: 1.2vw;
}

/* GRID */

.grid{
	display: grid;
	grid-template-columns: 1% 23% 21% 21% 23% 1%;
	grid-column-gap: 2%;
}

/* HEADER */
.header{
	grid-column: 2 / span 4;
}

.header-grid{
	
	display: grid;
	grid-template-columns: 50% 30% 20%;
	align-items: center;
}

.header-logo{
	width: 100%;
	grid-column: 1 / span 1;
	color: rgb(70, 70, 70);
}

.icons{
	grid-column: 3 / span 1;
	justify-self: end;
	text-align: right;
}

.icons img{
	width: 15%;
	margin-left: 5%;
}



/* BIO */

.bio{
	background-image: url("../img/laptop3.jpg");
	background-size: cover;
	grid-column: 1 / span 6;
	
	
}

.bio-grid{
	display: grid;
	grid-template-columns: 4% 30% 62% 4%;;
	align-items: center;
	justify-items: center;
	background-color: rgba(111,181,191, 0.8);
	padding-top: 10%;
	padding-bottom: 10%;
	color: white;

}

.bio-txt{
	grid-column: 2 / span 1;;
	font-size: 2vw;
	text-align: left;
}

.bio-img{
	grid-column: 3 / span 1;
	width: 40%;
	border-radius: 50%;
}


/*PORTFOLIO */

.portfolio {
	grid-column: 1 / span 6;
	margin-top: 2%;
	padding-bottom: 20%;
	color: #EE6F66;;

}

.portfolio-title{
	text-align: center;
	margin-bottom: 5%;
	font-size: 3vw;
}

.portfolio-grid{
	display:grid;
	grid-template-columns: 15% 29% 12% 29% 15%;
}

.portfolio img{
	width:100%;
	margin-left: 5%;
	margin-top: 5%;
}

.portfolio p{
	width: 60%;
	margin-left: 25%;
	text-align: center;
}

.gris{
	color: rgb(70, 70, 70);
}

.portfolio-huarpes{
	grid-column: 2 / span 1;

}

.portfolio-batalla{
	grid-column: 4 / span 1;
}

.portfolio-margen {
	border: 3px solid white;
	border-radius: 1%;
}

/* SKILLS */

.skills{
	grid-column: 1 / span 6;
	margin-top: 6%;
	padding-top: 10%;
	padding-bottom: 10%;
	background-color: #F8C671;
	color: rgb(70, 70, 70);
}

.skills-grid{
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}

.skills-title{
	text-align:center;
	grid-column: 1 / span 1;
	align-self: left;
	font-size: 3vw;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.skills-title{
		margin-top: 20%;

	}
}

.skill-1 {
	grid-column: 2 / span 1;
	
}
.skill-2 {
	grid-column: 3 / span 1;
}
.skill-3 {
	grid-column: 4 / span 1;
}
.skill-4 {
	grid-column: 5 / span 1;
}
.skill-5 {
	grid-column: 6 / span 1;
}
.skill-6 {
	grid-column: 7 / span 1;
}

.skills p{
	font-size: 1.3vw;
	align-self: center;
	text-align: center;
}
/* FOOTER */
footer{
	margin-top: 3%;
}

footer p{
	color: rgb(70, 70, 70);
	text-align: center;
	font-size: 0.7vw;
}

a:link, a:visited {
	color: rgb(70, 70, 70);
	text-decoration: none;
}

@media only screen and (max-width: 768px){
	h1{
		font-size: 4.4vw;
	}

	p{
		font-size: 3.1vw;
		word-spacing: -0.5vw;
	}

	h4{
		font-size: 3.2vw;
	}
	.grid{
		display: grid;
		grid-template-columns: 5% 22% 23% 22% 23% 5%;
		grid-template-rows: 1fr 3fr 5fr 2fr;
		grid-gap: 0%;
	}
	
	section{
		margin-bottom: 6%;
	}
	/*HEADER SMALL */

	.header{
		width: 100%;
		grid-column: 2 / span 4;
		grid-row: 1 / span 1;
	}

	.header-grid{
		
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		align-items: start;
	}

	.header-logo{
		width: 100%;
		grid-row: 1 / span 1;
		grid-column: 1 / span 3;
		text-align: center;
	}

	.icons{
		grid-row: 2 / span 1;
		grid-column: 1 / span 3;
		text-align: center;
		justify-self: center;
	}

	.icons img{
		margin-left: 0%;
		margin-right: 3%;
		width:8%;
	}

	/* BIO SMALL */

	.bio-txt{
		grid-column: 2 / span 2;
		line-height: 150%;
	}

	.bio-img{
		display: none;
	}

	/* PORTFOLIO SMALL */

	.portfolio {
		grid-row: 3 / span 1;
		grid-column: 2 / span 4;
	}

	.portfolio-grid{
		display:grid;
		grid-template-rows: 1fr 1fr;
	}

	.portfolio-huarpes{
		grid-column: 2 / span 3;
		grid-row: 1 / span 1;

	}

	.portfolio-batalla{
		grid-column: 2 / span 3;
		grid-row: 2 / span 1;
		margin-top: 5%;
	}

	/* SKILLS SMALL */

	.skills{
		grid-row: 4 / span 1;
		grid-column: 2 / span 4;	}

	/* FOOTER */

	footer{
		margin-top: 8%;
	}

	footer p{
		font-size: 2vw;
	}	

}